@use 'normalize';
@use 'skeleton';
@use '../../node_modules/ol/ol';

$primary: #fc6600;
$secondary: #ffd700;
$tertiary: #9f00b7;

$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

@import 'components/visualization';
@import 'components/loading-indicator';

html, body{
    width: 100%;
    height: 100%;
}

body {
    background-color: #222;
    color: #ccc;
}

.logo {
    img {
        vertical-align: middle;
    }
}

.button {
    color: #ccc !important;
    max-height: 100%;
    line-height: inherit;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-form .errors {
    list-style: none;
    color: $danger;
}

.show-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        padding: 10px;
        align-items: stretch;
        height: 30px;
        border-bottom: 1px solid black;
        position: relative;

        .logo {
            display: inline-flex;
            align-items: center;
            height: 100%;
            box-sizing: border-box;
            color: #999;

            img {
                max-height: 100%;
                margin-right: 10px;
            }
        }

        .title {
            flex: 1;
            display: inline-flex;
            align-items: center;
            margin-left: 20px;
            font-weight: bold;
        }
    }

    .main {
        display: flex;
        flex: 1;
    }

    .main-content {
        height: 100%;
        flex: 1;
        background-image: url('../images/noise.png');
    }

    .main-aside {
        height: 100%;
        width: 200px;
        border-left: 1px solid black;
    }
}
